.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
}

.profile__content {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 74px 0 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__info-group {
  display: flex;
  max-width: 410px;
  width: 100%;
  justify-content: space-between;
  padding: 17px 0 24px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__info-group:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.profile__info-group:first-of-type {
  padding-top: 0;
}

.profile__info-group-text {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__info-group-text_type_user {
  font-weight: 400;
}

.profile__buttons {
  padding: 219px 0 50px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.profile__buttons-edit-button,
.profile__buttons-exit-button {
  font-weight: 400;
  line-height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__buttons-exit-button {
  margin-top: 14px;
  color: #FF3055;
}

.profile__form-editing,
.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  align-items: center;
}

.profile__form-editing-save-button {
  width: 100%;
  margin-top: 223px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 13px 0 15px;
  background-color: #3456F3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.profile__form-editing-save-button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

.profile__form-fieldset {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-fieldset:last-of-type {
  border-bottom: none;
  padding: 17px 0 0;
}

.profile__form-label {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__form-input {
  max-width: 180px;
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  border: none;
  text-align: end;
  color: #000;
}

.profile__form-input_type_error {
  color: #FF4062;
}

.profile__form-input:focus {
  outline: none;
}

.profile__form-editing-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile__form-error-span {
  color: #FF4062;
  min-height: 24px;
  height: 100%;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  max-width: 220px;
  width: 100%;
  text-align: end;
  opacity: 0;
}

.profile__form-error-span_visible {
  opacity: 1;
}
