.section {
  max-width: 1140px;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
}

.section-line {
  border-bottom: 1px solid black;
  max-width: 1140px;
  margin-top: 23px;
}
