.nav-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: right;
  visibility: hidden;
}

.nav-menu__container {
  min-height: 100vh;
  justify-content: space-between;
  width: 520px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu__close {
  background: url(../../images/nav-close.svg)
    no-repeat;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 14px;
  cursor: pointer;
}

.nav-menu__link-container {
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-menu__link {
  color: black;
  margin-top: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
}

.nav-menu__link_active {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.nav-menu_opened {
  overflow-x: scroll;
  display: flex;
  visibility: visible;
  opacity: 1;
}

.nav-menu__profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  width: 100px;
  height: 32px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px #00000014;
  margin-bottom: 90px;
}

.nav-menu__profile-btn-text {
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0px;
  padding-right: 7px;
}

.nav-menu__profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #f9f9f9;
  border-radius: 13px;
}

.nav-menu__profile-image {
  width: 10.38px;
  height: 10.67px;
}

@media screen and (max-width: 320px) {
  .nav-menu__link-container {
    margin-top: 119px;
  }

  .nav-menu__link {
    margin-top: 26px;
  }

  .nav-menu__account {
    margin-bottom: 45px;
  }
}
