.movies-cards {
  padding-top: 70px;
  padding-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    270px
  );
  gap: 38px 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .movies-cards {
    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: repeat(
      auto-fit,
      339px
    );
    gap: 30px 30px;
  }

}

@media screen and (max-width: 320px) {
  .movies-cards {
    padding-top: 40px;
    padding-bottom: 10px;
    margin-left: 14px;
    margin-right: 14px;
    grid-template-columns: 300px;
    gap: 34px;
  }
}
