.header {
  background-color: #073042;
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header-loggedin {
  background-color: white;
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.hidden {
  display: none;
}

.header_page-landing {
  background-color: #073042;
}

.header__link {
  height: 38px;
}

.header__content {
  max-width: calc(100% - 2*70px);
  width: 100%;
  margin: auto;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links_page_movies {
  width: 100%;
  justify-content: space-between;
}

.header__links-movies {
  padding-left: 45px;
}


.header__signup-link {
  display: block;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

.header__enter-link {
  background-color: #000;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
}

.header__movies-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 16px;
}

.header-loggedin__movies-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 16px;
}

.header__movies-link:last-of-type {
  padding-right: 0;
}

.header__movies-link_active {
  font-weight: 500;
}

.hidden {
  display: none;
}

.header__profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  width: 100px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px #00000014;
}

.header-loggedin__profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  width: 100px;
  height: 32px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px #00000014;
}

.header__profile-button-text {
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0px;
  padding-right: 7px;
}

.header__profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #f9f9f9;
  border-radius: 13px;
}

.header__profile-image {
  width: 10.38px;
  height: 10.67px;
}

.header__signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  width: 76px;
  height: 32px;
  background-color: #2be080;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .header__content {
    max-width: calc(100% - 2*30px);
  }

  .header__content {
    justify-content: space-between;
  }

  .header__content-burger-button {
    background-image: url(../../images/nav.svg);
    background-position: center;
    width: 44px;
    height: 38px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .header-loggedin__content-burger-button {
    background-image: url(../../images/nav-black.svg);
    background-position: center;
    width: 44px;
    height: 38px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
}

@media screen and (max-width: 475px) {
  .header__content {
    max-width: calc(100% - 2*14px)
  }
  
  .header__signup-link {
    font-size: 10px;
    margin-right: 14px;
  }

  .header__enter-link {
    padding: 5px 12px;
    font-size: 10px;
  }

  .header__content-burger-button {
    background-image: url(../../images/nav-mob.svg);
    width: 40px;
    height: 34px;
    align-self: center;
  }

  .header-loggedin__content-burger-button {
    background-image: url(../../images/nav-black-mob.svg);
    width: 40px;
    height: 34px;
    align-self: center;
  }
}