.register {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}

@media screen and (max-width: 768px) {
  .register {
    margin: 232px 186px;
  }
}

@media screen and (max-width: 660px) {
  .register {
    margin: 232px 30px;
  }
}

@media screen and (max-width: 425px) {
  .register {
    margin: 56px 30px 30px;
  }
}