.promo {
  display: flex;
  height: 574px;
  background-color: #073042;
}

.promo__title {
  margin: 0;
  /* margin-top: 75px; */
  /* margin-left: 70px; */
  padding-top: 75px;
  padding-left: 70px;
  max-width: 640px;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: left;
}

.promo__logo {
  max-width: 310px;
  max-height: 304px;
}