.login {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}

@media screen and (max-width: 800px) {
  .login {
    margin: 232px 0 232px 0;
  }
}

@media screen and (max-width: 425px) {
  .login {
    margin: 56px 30px 30px;
  }
}
