.portfolio {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 125px;
}

.portfolio__header {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a0a0;
}

.portfolio__link {
  text-decoration: none;
  color: black;
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}

.portfolio__arrow {
  width: 29px;
  height: 60px;
  padding-bottom: 9px;
}
