.portfolio {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 125px;
}

.portfolio__header {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a0a0;
}

.portfolio__link {
  text-decoration: none;
  color: black;
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}

.portfolio__arrow {
  width: 29px;
  height: 60px;
  padding-bottom: 9px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 90px;
  }

  .portfolio__header {
    padding-top: 90px;
  }

  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__arrow {
    width: 27px;
  }
}
